name: "[DEPRECATED] QA Report"

on:
  workflow_dispatch: {}

jobs:
  notice:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "This workflow is deprecated. Use 'Extended QA' instead."
